<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/svg/favicon.svg"/>
</head>

<body>
    {{>header}}
    <main class="main-content">
        {{>title}}
        <p>This site was created by Arnav Guneta. It's the main hub for all things related to the Guneta family.</p>
    </main>
    {{>footer}}
</body>

</html>