<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Guneta, Inc</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/svg/favicon.svg" />
</head>

<body>
    {{>header}}
    <div class="parent">
        <div class="logo-container">
            {{>logo}}
        </div>
        <div class="scroll-container">
            {{>scrolldown}}
        </div>
    </div>
    {{!-- {{>loading}} --}}
    <main class="main-content">
        {{>title}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan ex ut rhoncus gravida.
            Pellentesque at condimentum sem. Nam rhoncus turpis hendrerit magna venenatis, at varius elit eleifend.
            Donec tincidunt mauris nibh, suscipit fringilla mi gravida ac. Nunc sit amet odio massa. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi varius nisl finibus, lacinia quam
            in, cursus dolor. Nullam convallis lacus id risus luctus, id fermentum dui egestas. Curabitur feugiat
            laoreet mollis. Donec venenatis finibus congue. Donec placerat metus id tortor aliquet bibendum non vel
            libero. Phasellus et massa nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porta nec
            nisi nec scelerisque.</p>
        <br>
        <p>Fusce efficitur dignissim diam. Curabitur quis nisl libero. Vestibulum rutrum sodales odio, ut feugiat erat
            gravida vel. Nulla facilisi. Mauris sit amet ullamcorper dui. Phasellus est velit, sagittis ut massa ac,
            pulvinar accumsan diam. Praesent mattis ante eget metus pharetra congue. Quisque in ultricies felis. Proin
            vehicula laoreet viverra. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <br>
        <p>Nam vel fermentum felis, sit amet ultrices turpis. Aenean eget dictum risus. Vivamus in justo id leo rutrum
            accumsan. Sed porta orci justo. Quisque varius est ut placerat malesuada. Cras enim augue, semper et
            suscipit eu, semper quis felis. Nunc rutrum, enim vel facilisis hendrerit, nibh lorem iaculis dui, non
            ornare urna metus non orci. Quisque aliquet, tortor porta fringilla vehicula, magna ex imperdiet felis,
            vitae consectetur dui erat vel odio. Proin non efficitur augue. Nunc orci tellus, vulputate et elit id,
            vehicula tincidunt dui. Vestibulum faucibus pretium interdum. Cras quis auctor justo. Cras porttitor, sem
            quis fringilla cursus, mi leo dictum eros, eget malesuada enim eros quis quam. Nullam efficitur gravida
            placerat.</p>
        <br>
        <p>Aenean lacinia hendrerit turpis et semper. Morbi tincidunt vel lorem non feugiat. Curabitur risus massa,
            ullamcorper in ante ut, porttitor dignissim turpis. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos. Maecenas libero urna, cursus et enim nec, mollis tempus velit. In
            consectetur varius lobortis. Quisque et sem bibendum, efficitur nulla quis, iaculis quam. Pellentesque ac
            odio justo.</p>
        <br>
        <p>Curabitur facilisis eleifend felis eu bibendum. Nullam at tortor est. Pellentesque non purus lacus. Quisque
            in rutrum nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula sollicitudin odio a
            fringilla. Praesent malesuada felis vestibulum neque blandit, eu suscipit ex posuere. Nunc elit mi, sodales
            eu augue non, mattis ultrices ligula. Donec faucibus sagittis convallis. Nulla facilisi.</p>
    </main>
    {{>footer}}
</body>
<script src="/js/app.js"></script>
</html>