<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico"/>
</head>

<body>
    {{>header}}
    <main class="main-content">
        <h2>Arnav's Projects</h2>
        <div class="card">
            <h3 class="subheader">NodeJS</h3>
            <ul class="list">
                <li class="waves-effect"> <a href="http://weather.guneta.com">
                        <div class="valign-wrapper">
                            <i class="material-icons left circle white-text">language</i>
                            <div class="title">
                                Weather<br>
                                <span>Sep 19, 2020</span>
                            </div>
                            <i class="material-icons ml-auto">info</i>
                        </div>
                    </a>
                </li>
                <li class="waves-effect">
                    <a href="http://dfa.guneta.com">
                        <div class="valign-wrapper">
                            <i class="material-icons left circle white-text">language</i>
                            <div class="title">
                                DFAs<br>
                                <span>Sep 20, 2020</span>
                            </div>
                            <i class="material-icons ml-auto">info</i>
                        </div>
                    </a>
                </li>
                <hr class="list-divider">
                <h3 class="subheader">Static Websites</h3>
                <li class="waves-effect">
                    <a href="http://jchs.guneta.com">
                        <div class="valign-wrapper">
                            <i class="material-icons left circle white-text">language</i>
                            <div class="title">
                                JCHS Website<br>
                                <span>Aug 14, 2016</span>
                            </div>
                            <i class="material-icons ml-auto">info</i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {{>footer}}
</body>
</html>