<header>
    <img class="logo" src="/img/logo6.png">
    <nav>
        <ul class="nav_links">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
    <a class="contact" href="#"><button>Contact</button></a>
</header>
